@charset 'UTF-8';
@font-face {
    font-family: 'Gotham-Book';
    font-style: normal;
    src: local('Gotham-Book'), url(../fonts/GothamBook.woff)
}

@font-face {
    font-family: 'Gotham-Bold';
    font-style: normal;
    src: local('Gotham-Bold'), url(../fonts/Gotham-Bold.woff)
}

body, html {
  font-family: 'Gotham-Book', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Gotham-Bold', sans-serif;
}